<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<nav th:fragment="navigation" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" th:text="#{menu.header}"></a>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/addStaff" th:text="#{login.addStaff}"></a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('STUDENT')">
                <a class="nav-link" href="/student-schedule" th:text="#{menu.header.student.schedule }"></a>
            </li>
        </ul>


        <a class="nav-link" href="/student-schedule" th:text="#{menu.header.student.schedule }"></a>

        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login" th:text="#{menu.login}"></a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <span style="color: wheat" sec:authorize="isAuthenticated()" sec:authentication="name"></span>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout" th:text="#{menu.logout}"></a>
            </li>
        </ul>
    </div>
</nav>
</html>