<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/form.css" th:href="@{/css/form.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" type="text/css" media="all"/>
</head>
<div th:replace="fragments/navbar.html :: navigation"></div>
<body>
<div class="custom-form">
    <form th:action="@{/signup-processing}" th:object="${user}" method="post">
        <h2 class="text-center" th:text="#{login.signup}"></h2>
        <span th:replace="fragments/addFragment.html :: formCommon"></span>
        <div class="form-group">
            <label for="year">Year:</label>
            <select name="year" id="year" class="form-control" th:field="*{year}" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" th:text="#{login.signup}"></button>
        </div>
    </form>
    <p class="text-center"><a th:href="@{/login}" th:text="#{login.login.suggest}"></a></p>

    <div class="errors-div" th:if="${error != null}">
        <div class="alert alert-danger" role="alert" th:text="${error}">
        </div>
    </div>

</div>
</body>
</html>