<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<head>
    <meta charset="utf-8">
    <title>Edit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/form.css" th:href="@{/css/form.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" type="text/css" media="all"/>
</head>
<div th:replace="fragments/navbar.html :: navigation"></div>
<body>

<div class="custom-form">
    <h2 class="text-center">Edit User</h2>
    <form id="editForm">
        <div class="form-group">
            <input hidden id="id" type="text" class="form-control" th:field="${user.id}"
                   required="required">
            <label for="email" hidden></label>
            <input id="email" type="text" class="form-control" th:placeholder="#{login.email}" th:field="${user.email}"
                   required="required">
        </div>
        <div class="form-group">
            <label for="name" hidden></label>
            <input id="name" type="text" class="form-control" th:placeholder="#{login.name}" th:field="${user.name}"
                   required="required">
        </div>
        <div class="form-group">
            <label for="surname" hidden></label>
            <input id="surname" type="text" class="form-control" th:placeholder="#{login.surname}" th:field="${user.surname}"
                   required="required">
        </div>
        <div class="form-group">
            <label for="position">Position (for methodists only):</label>
            <input id="position" type="text" class="form-control" th:placeholder="#{login.position}"
                   th:field="${position}">
        </div>
        <div class="form-group">
            <label for="year">Year (for students only):</label>
            <select name="year" id="year" class="form-control" th:field="${year}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
        <div class="form-group">
            <label for="role" hidden></label>
            <select id="role" type="text" name="role" class="form-control"
                    th:field="${user.permissions}"
                    required="required">
                <option value="1" selected th:if="${adminSelected}" >ADMIN</option>
                <option value="4" th:if="!${adminSelected}" >ADMIN</option>
                <option value="2" selected th:if="${methodistSelected}" >METHODIST</option>
                <option value="5" th:if="!${methodistSelected}" >METHODIST</option>
               <option value="3" selected th:if="${studentSelected}">STUDENT</option>
                <option value="6" th:if="!${studentSelected}">STUDENT</option>
               </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Edit</button>
        </div>
    </form>
</div>
<script>
    $(function(){

        $('#editForm').submit(function(e){
            console.log("created")
            e.preventDefault();
            $.ajax({
                type: 'PUT',
                url: '/edit/'+$(this).find('[name=id]').val(),
                contentType: 'application/json',
                data: JSON.stringify({
                    id:$(this).find('[name=id]').val(),
                    name: $(this).find('[name=name]').val(),
                    surname:$(this).find('[name=surname]').val(),
                    email: $(this).find('[name=email]').val(),
                    position:$(this).find('[name=position]').val(),
                    year: $(this).find('[name=year]').val(),
                    role:$(this).find('[name=role]').val()
                }),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json');
                }
            });
        });


    });
</script>
</body>
</html>